---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
        <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span
              class="link-arrow">&rarr;</span></a></h1>
        {% else %}
        <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </header>

      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
      </div>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>
      
        <a href="https://www.buymeacoffee.com/youngchoi"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=youngchoi&button_colour=FFDD00&font_colour=000000&font_family=Comic&outline_colour=000000&coffee_colour=ffffff"></a>

        <script src="https://utteranc.es/client.js" repo="whyjun/whyjun.github.io" issue-term="title" label="💬 comment"
          theme="github-light" crossorigin="anonymous" async>
        </script>

        <!-- {% if page.share %}
        {% include social-share.html %}
        {% endif %} -->

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>